@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');


:root {
    --darker: #1A1D33;
    --lighter: #105F82;
    --lightest: #00ACBB;
}

body {
    background-color: var(--darker);
    display: grid;
    grid-template-columns: 1fr 3fr;
    font-family: 'Inter', sans-serif;
}

.sidebar {
    grid-column: 1 / 2;
    background-color: var(--lighter);
    color: white;
    height: max(100%, 100vh);
    padding: 0px 30px;
    display: flex;
    flex-direction: column;
}

.top {
    display: flex;
    font-size: 1.8rem;
    margin-top: 0px;
    padding-top: 0px;
    gap: 10px;
}

form > div {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 10px;
}

#radio {
    display: block;
    padding-bottom: 20px;
}

#radio > div > label:not(:first-child){
    font-size: 1rem;
}

#radio > div {
    margin-bottom: 10PX;

}

label, #radio-label {
    font-size: 1.3rem;
    
}


input {
    background-color: var(--darker);
    border: none;
    width: 300px;
    color: white;
    height: 1.5rem;
}

#logo {
    height: 80px;
    align-self: center;
}

input[type="radio"] {
    margin-right: 5px;
    margin-left: 20px;
    width: 18px;
    vertical-align: text-bottom;

}

button {
    background-color: var(--lightest);
    border: none;
    padding: 5px 10px;
    height: 50px;
    color: white;
}

.main {
    grid-column: 2 / 3;
    padding: 50px;
}

table {
    color: white;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;

}

thead {
    font-size: 1.3rem;
    background-color: var(--lighter);
    border: none;

}

th {
    padding: 10px 30px;
    margin-left: 40px;
}

th:first-of-type {
    padding: 10px 200px;
}

td {
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 4px solid #105F82;
}